.message{
    padding: 20px;
    padding-top: 130px;
    
   
}
p{
    padding:7px;
}

.s1{
    color: #97BFFC;
    font-size:25px;
}
.s2{
    color: #5D99F3;
    font-weight: 200;
    font-size:65px;
}
.s3{
    color: #97BFFC;
    font-size:25px;
}
