.container_owner{
    width: 100vw;
    height: 100vh;
    /* background-color:#A8A6A6;
     */
     background-image: url("./images/Registration_bg.png");
     box-sizing: border-box;
     background-size: cover;
}